
.card{
    background-color: lawngreen;
    color: black;
    border: 0.5em solid lime;
    border-radius: 1em;
    margin-bottom: 0.5em;
}
.card-about{
    border: 0.1em solid black;
    border-radius: 1em;
    margin: 1em 0 1em 0;
    padding: 0.5em;
}